# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Coverage / temp
coverage/
.tmp/
.cache/

# k6 output
*.json
*.bin
